# ignore some commonly used 
# data output/input folders
# the "data" directory itself 
# shall only contain 
# configuration text files!
/logfiles
*.log
/evgen/
ARout/CB/*
ARout/CATS/*
plots/CB/*
plots/CATS/*

# Root files
*.root
